## Prepare the UTKFace dataset 
### (From file name coding to dataframe with features)
<hr>
Predicting Age, Gender and Race from face images

Dataset: https://susanqq.github.io/UTKFace/ 

raul.arrabales@datarobot.com 

Ago22

In [1]:
import os
from os import walk
from os.path import exists
import glob
import numpy as np
import pandas as pd

C:\Users\array\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [22]:
# Relative path to face image files
path_to_facefiles = 'UTKFace'

In [38]:
# List to store features and image path
dataset = []

In [ ]:
for file in glob.glob(path_to_facefiles + '/**/*.jpg', recursive=True):
    
    print("Processing file: " + file)
    
    parts = file.split('\\')
    metadata = parts[1].split('_')
    
    relpath = file.replace('\\','/')
    
    age = int(metadata[0])
    
    gender = 'female'
    if (metadata[1] == '0'):
        gender = 'male'
        
    race = 'N/A'
    if (metadata[2] == '0'):
        race = 'white'
    elif (metadata[2] == '1'):
        race = 'black'
    elif (metadata[2] == '2'):
        race = 'asian'
    elif (metadata[2] == '3'):
        race = 'indian'
    else:
        race = 'other'
        
    row = [age, gender, race, relpath]
    
    print("Creating row: " + str(row))
    dataset.append(row)

In [42]:
# Persist data frame
df = pd.DataFrame(dataset, columns=['Age','Gender','Race','ImgFilePath'])

In [53]:
df.columns

Index(['Age', 'Gender', 'Race', 'ImgFilePath'], dtype='object')

In [43]:
df

       Age  Gender    Race                                     ImgFilePath
0      100    male   white  UTKFace/100_0_0_20170112213500903.jpg.chip.jpg
1      100    male   white  UTKFace/100_0_0_20170112215240346.jpg.chip.jpg
2      100  female   white  UTKFace/100_1_0_20170110183726390.jpg.chip.jpg
3      100  female   white  UTKFace/100_1_0_20170112213001988.jpg.chip.jpg
4      100  female   white  UTKFace/100_1_0_20170112213303693.jpg.chip.jpg
...    ...     ...     ...                                             ...
23703    9  female  indian    UTKFace/9_1_3_20161220222856346.jpg.chip.jpg
23704    9  female  indian    UTKFace/9_1_3_20170104222949455.jpg.chip.jpg
23705    9  female   other    UTKFace/9_1_4_20170103200637399.jpg.chip.jpg
23706    9  female   other    UTKFace/9_1_4_20170103200814791.jpg.chip.jpg
23707    9  female   other    UTKFace/9_1_4_20170103213057382.jpg.chip.jpg

[23708 rows x 4 columns]

In [47]:
df[['Age']].describe()

                Age
count  23708.000000
mean      33.303484
std       19.886112
min        1.000000
25%       23.000000
50%       29.000000
75%       45.000000
max      116.000000

In [50]:
df[['Gender']].value_counts()

Gender
male      12391
female    11317
dtype: int64

In [51]:
df[['Race']].value_counts()

Race
white     10078
black      4526
indian     3975
asian      3434
other      1695
dtype: int64

In [54]:
# Save CSV
df.to_csv('UTKFaces_withAgeGenderRace.csv', sep=',', encoding='utf-8',index=False)